Source: git-big-picture
Section: vcs
Priority: optional
Maintainer: Doug Torrance <dtorrance@monmouthcollege.edu>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/esc/git-big-picture
Vcs-Git: https://github.com/d-torrance/git-big-picture.git
Vcs-Browser: https://github.com/d-torrance/git-big-picture

Package: git-big-picture
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
